
  body {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    margin-top: 60px;
    position: relative;

   
  }
  .log{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    height: 470px;
    width: 500px;
  }
  .Head{
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    font-size: 25px;
    
  }
  .sub-head{
    text-align: center;
    padding: 3px;
    font-size: 20px;

  }
  .inp input{
    width: 410px; 
  } 
  .txt{
    padding-left: 30px;
    
  }
  .forgot-btn{
    justify-content: space-around;
    margin-left: 24px;    
  }
  .login-btn{
    color: white;
    background-color: #1a73e8;
    border-radius: 5px;
    margin-top: 50px;
    height: 36px;
    padding-left: 24px;
    padding-right: 29px;
    width: 24px;
    margin-left: 390px;
    box-sizing: inherit;
    border: 0px ;
  }
  a{
    margin-left: 12px;
    text-decoration: none;
    color: #1a73e8;
  }
  .acc{
    margin-top: -35px;
    padding-left: 25px;
  }