.note-box {
    display: flex;
    flex-direction: row;
    border-color: black;
    height: 40%;
    margin-top: 30px;
    justify-content: center;
}
.inner-notebox{
    display: flex;
    flex-direction: row;
    width: 45%;
    border: 1px solid rgb(199, 194, 194);  
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    border-radius: 8px;
    align-items: center;
    
}
.note-txt{
    width: 80%;
    padding-left: 10px;
    color: rgb(187, 185, 185);
}

.btn{
    width: 100%;
    margin-left: 56%;
}
