.note-box {
    display: flex;
    flex-direction: row;
    border-color: black;
    width: 100vw;
    height: 40%;
    margin-top: 30px;
    justify-content: center;
}
.inner-notebox{
    width: 45%;
    box-sizing: border-box;
    border: 1px solid rgb(199, 194, 194);  
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    border-radius: 8px;
    align-items: center;
    padding-inline-start: 1%;
    
}
.note-txt{
    width: 75%;
}
