.note2-box{
    display: flex;
    flex-direction: row;
    border-color: black;
    width: 100vw;
    height: 50%;
    margin-top: 30px;
    justify-content: center;
}

.inner-box{
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 35%;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
}
.titlebox1{
    display: flex;
    flex-direction: row;
    height: 35%;
    justify-content: space-between;
    width: 98%;
}
.note-txt2{
    padding-left: 2%;   
}
.description{
    height: 50%;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    height: 29%;
    width: 95%;
    padding: 1%;
}
