.note2-box{
    display: flex;
    flex-direction: row;
    border-color: black;
    width: 100vw;
    margin-top: -30px;
    justify-content: center;
}

.inner-box{
    display: flex;
    flex-direction: column;
    width: 46vw;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.6);
    
}
.titlebox1{
    display: flex;
    flex-direction: row;
    height: 32%;
    justify-content: space-between;
    width: 46vw;
}
.note-txt2{      
    padding-inline-start: 2%;
    outline: none;
    border: none;
    width: 43.5vw;
    font-size: medium;
    height: 7vh;
    border-radius: 8px;
    
}
.description{
    height: 45%;
    align-items: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    height: 33%;
    width: 45vw;
}
