/* .reg{
     display: flex;
    border-radius: 5px; 
}
.title{
    margin-top: 25px;
    padding-left: 35px;
    font-size: 35px;
    position: relative;
}
.sub-title{
     margin-top: 10px;
    padding-left: 35px;
    margin-bottom: 15px;
    font-size: 25px; 
}

.data-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
}
.data{
    display: flex;
    justify-content: space-between;
    width: 33.5vw;
}

.user {
    width: 33.5vw;
}

.p-tag{
    width: 30vw;
    padding-left: 15px;
    margin-top: -17px;
    font-size: 13px;
    
}
.current{
    color: #1a73e8;
    padding-left: 3px;
    font-size: 16px;
}
.checkbx{
    margin-left: 10px;
    size: 40px;
}
.bot-nxt-bt{
    display: flex;
    justify-content: space-between;
    width: 33.5vw;
    margin-top: 25px;
    margin-bottom: 35px;
    
}

.signup-logo{
    width: 240px;
    justify-items: center;
    padding-top: 120px;
    text-align: center;
}
.lgo{
    height: 230px;
    width: 230px;
}
.lgo-txt{
margin-top: 5px;
} */